body {
	background-color: #A193B9;
	font-family: Tahoma, sans-serif;
	color: #4B386B;
	text-align: center;
	font-style: italic, bold;
	padding-top: 15px;
}

#firstname #lastname {
padding-right: 10px;
}